body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

h3{
    font-family: Asap, sans-serif;
    color: #fff;
}

.button {
    background-color: #831fe0;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 25px;
    left: 93%;
    top: 14%; 

    border: none;
    color: #FFFFFF;  
    opacity: 0.6;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;

    cursor: pointer;
  }

  .button:hover {
      opacity: 1;
  }
  
/*MENU*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding: 0px 10%;

}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    

}

nav ul li a{
    text-decoration: none;
    color: #000;
}
    
header{
    flex-direction: column;
    text-align: center;
    background-color: #202020;
    padding-top: 50px;
    padding-bottom: 70px;
    

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div h3{
    color: #000;
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: auto;
    margin: 3% 5%;
    padding: 20px;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 0px 10%;

    width: 100%;


}

.content-table thead tr {
    background-color: #828181;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #828181;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #828181;
}

.atualizar_buton{
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;

    background: #000;
    border-radius: 5px;
    padding: 5px 7px;
}

.campos{
    margin: 10px;

    background: #FFFFFA;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px;

    font-size: 15px;
    line-height: 20px;
    border: 0;
    padding: 10px 20px;
}

#nome_da_atividad, #data_dia{
    width: 256px;
}

#preechiveis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td{
    cursor: pointer;
}

#nome_de_usuario_tag {
    background-color: black;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 25px;
    left: 93%;
    top: 14%; 

    
    padding-top: 5px;
    border: 1px solid black;
    color: #FFFFFF;  
    opacity: 0.6;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;     
}

@media screen and (max-width: 640px){

    .content-table th,
    .content-table td {
      padding: 2px 2px;
    }
}

@media only screen and (min-width: 1200px){
    .content{
        width: 70%;
    }

    .rTable th, .rTable td{
        padding: 7px;
    } 

    .rTable tbody tr td:nth-child(1){
        width: 10%;
    }
    .rTable tbody tr td:nth-child(2){
        width: 30%;        
    }
    .rTable tbody tr td:nth-child(3){
        width: 30%;
    }
    .rTable tbody tr td:nth-child(4){
        width: 10%;
    }
}

@media screen and (min-width: 768px) {

    nav{
            flex-direction: row;
            justify-content: space-around;

    }

    nav ul{
            flex-direction: row;
            /*width: 100%;*/
    }

    nav ul li{
        margin-left: 20px;
    }


    /*CABECALHO*/
    header {
        height: 40px;
        height: 10vh;
        justify-content: center;
    }


}