body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

h3{
    font-family: Asap, sans-serif;
    color: #fff;
}

#nome_de_usuario_tag {
    background-color: black;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 25px;
    left: 93%;
    top: 14%; 

    
    padding-top: 5px;
    border: 1px solid black;
    color: #FFFFFF;  
    opacity: 0.6;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;     
}

.button {
    background-color: #831fe0;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 25px;
    left: 93%;
    top: 14%; 

    border: none;
    color: #FFFFFF;  
    opacity: 0.6;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;

    cursor: pointer;
  }

  .button:hover {
      opacity: 1;
  }

  
/*MENU*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding: 0px 10%;

}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    

}

nav ul li a{
    text-decoration: none;
    color: #000;
}
    
header{
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 13%);
    padding-top: 50px;
    padding-bottom: 70px;
    

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div h3{
    color: #000;
}

#graficoDeBarras{
    width: 400px;
}

#graficoDePizza{
    width: 400px;
}

#grafico_linhas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grafico_de_barras, #grafico_de_pizza, #grafico_linhas{
    margin-top: 5%;
}

select{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.atualizar_buton{
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;

    background: #000;
    border-radius: 5px;
    padding: 5px 7px;
}

#grafico_de_linhas{
    width: 400px;
}

#conteudo h2{
    text-align: center;
}


@media screen and (min-width: 768px) {

    nav{
            flex-direction: row;
            justify-content: space-around;

    }

    nav ul{
            flex-direction: row;
            /*width: 100%;*/
    }

    nav ul li{
        margin-left: 20px;
    }


    /*CABECALHO*/
    header {
        height: 40px;
        height: 10vh;
        justify-content: center;
    }

}