body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

h3{
    font-family: Asap, sans-serif;
    color: #fff;
}

.button {
    background-color: #831fe0;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 25px;
    left: 93%;
    top: 14%; 

    border: none;
    color: #FFFFFF;  
    opacity: 0.6;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
/*MENU*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding: 0px 10%;

}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    

}

nav ul li a{
    text-decoration: none;
    color: #000;
}
    
header{
    flex-direction: column;
    text-align: center;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 70px;
    

}

.focus_title {
    width: 970px;
    height: 72px;
    left: 235px;
    top: 293px;

    margin-top: 40px;
    margin-bottom: -20px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

.text_about {
    
    width: 970px;
    height: 86px;
    left: 235px;
    top: 374px;

    margin-top: 100px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #000000;

}

.home_icones {
    width: 400px;
    height: 220px;
   
    margin-left: 50px;
    
    border-radius: 10px;
    align-items: center;
    padding-left: 20px;
    padding-top: 8px;
}

.home {
    width: 900px;   
    display: flex;
    background-color: rgb(250, 210, 180);
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(210, 170, 140);
    margin-top: 40px;
}
.text_home {
    width: 400px;

    text-align: center;
    padding-top: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(120, 120, 120, 0.6);
    
}

.ver_dia {
    width: 900px;  
    height: 425px; 
    display: flex;
    background-color: rgb(250, 210, 180);
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(210, 170, 140);
    margin-top: 40px;
}

.text_ver_dia {
    width: 400px;
    margin-top: 185px;
    margin-left: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(120, 120, 120, 0.6);
}
.ver_dia_icones{
    width: 60%;
    text-align: center;
}

.ver_dia_icones{
    margin-top: 10px;
    align-items: center;
}

.ver_dia_icones p{ 
    font-size: 12px;
    margin-top: 30px;
}

.ver_dia_icones img{ 
    margin-bottom: 20px;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(160, 160, 160);
}

.planejar_dias {
    width: 900px; 
    height: 400px;   
    
    background-color: rgb(250, 210, 180);
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(210, 170, 140);
    margin-top: 40px;
}

.text_planejar_dias {
    height: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(120, 120, 120, 0.6);
    padding-top: 40px;
}

.planejar_dias_icones {
    height: 300px;
}

.planejar_dias_icones img {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(160, 160, 160);
    margin-left: 80px;
}
@media screen and (min-width: 768px) {

    nav{
            flex-direction: row;
            justify-content: space-around;

    }

    nav ul{
            flex-direction: row;
            /*width: 100%;*/
    }

    nav ul li{
        margin-left: 20px;
    }


    /*CABECALHO*/
    header {
        height: 40px;
        height: 10vh;
        justify-content: center;
    }


}

